<div class="container">
  <div class="mat-display-2">LaternaVR</div>

  <div class="mat-display-1">MS Windows</div>

  Rekonstruovaná představení je možné interaktivně zobrazit jako spustitelnou desktopovou aplikaci na platformě MS
  Windows. Každé představení je reprezentováno jednou aplikací. Tyto aplikace jsou dostupné zde:

  <br><br><br>

  <div class="mat-display-1">Android</div>

  Jako součást prezentace rekonstruovaných představení je k dispozici mobiní aplikace LaternaVR. Ta umožňuje virtuální
  prohlídku rekonstruovaných čísel přímo na mobilním zařízení v obrazovkovém režimu a v režimu CARDBOARD, kdy si
  návštěvník může ze svého telefonu vytvořit jednoduchou náhlavní soupravu. Vlastní použití aplikace je jednoduché.
  Stačí si představení a režim, ve kterém má být představení přehráno. Pokud uživatel zvolí VR verzi představení, musí
  ho spustit sám použitím přislušného tlačítka v horní části zobrazení, v opačném případě je představení spuštěno automaticky.
  Během prohlídky se může návštěvník po scéně volně pohybovat, pokud zvolil režim VR, může se teleportovat na různá místa ve scéně.
  Teleportaci započne návštěvním sledováním symbolu chodící osoby, cílové místo pak zvolí chvíli přímého pohledu a po několika
  sekundách je na toto místo přenesen.
  <br><br>
  Aplikace je k dispozici pro OS Android a je ke stažení na GooglePlay.
  <br><a href="https://play.google.com/store/apps/details?id=cz.iim.laternamagika.LaternaVR"><img src="assets/play.jpg" width="200px"></a>
</div>
