<div class="container">
  <div class="mat-display-2">LaternaVR</div>

  <div class="mat-display-1">MS Windows</div>

  <div class="page-text">
    Rekonstruovaná představení je možné interaktivně zobrazit jako spustitelnou desktopovou aplikaci na platformě MS
    Windows. Každé představení je reprezentováno jednou aplikací. Tyto aplikace jsou dostupné zde:
  </div>

  <!-- Screenshot Název Popis Stáhnout -->
  <table>
    <tr>
      <td><a href="assets/previews/hadanky-duo_nahled.jpg"><img src="assets/previews/hadanky-duo_nahled.jpg" width="256"></a></td>
      <td>Hádanky Duo</td>
      <td>Část čísla Hádanky</td>
      <td><a href="{{myUrl}}storage/get/02_Hadanky/applications/Duo.zip"><img src="assets/icon_download.svg"
            width="32"></a></td>
    </tr>
    <tr>
      <td><a href="assets/previews/hadanky-trio_nahled.jpg"><img src="assets/previews/hadanky-trio_nahled.jpg" width="256"></a></td>
      <td>Hádanky Trio</td>
      <td>Část čísla Hádanky</td>
      <td><a href="{{myUrl}}storage/get/02_Hadanky/applications/Trio.zip"><img src="assets/icon_download.svg"
            width="32"></a></td>
    </tr>
    <tr>
      <td><a href="assets/previews/odysseus_nahled.jpg"><img src="assets/previews/odysseus_nahled.jpg" width="256"></a></td>
      <td>Odysseus</td>
      <td>Část představení Odysseus</td>
      <td><a href="{{myUrl}}storage/get/03_Odysseus/applications/Odysseus.zip"><img src="assets/icon_download.svg"
            width="32"></a></td>
    </tr>
    <tr>
      <td><a href="assets/previews/minotaurus_nahled.jpg"><img src="assets/previews/minotaurus_nahled.jpg" width="256"></a></td>
      <td>Minotaurus</td>
      <td>Část představení Minotaurus</td>
      <td><a href="{{myUrl}}storage/get/04_Minotaurus/applications/Minotaurus.zip"><img src="assets/icon_download.svg"
            width="32"></a></td>
    </tr>
    <!--
    <tr>
      <td>SCREENSHOT</td>
      <td>Kirké</td>
      <td>Současná choreografie na motivy části představení Odysseus</td>
      <td><a href="#"><img src="assets/icon_download.svg" width="32"></a></td>
    </tr>
    -->
  </table>

  <div class="page-text">
    Pomocí příslušného odkazu z výše uvedené tabulky je možné stáhnout aplikaci, která po spuštění zobrazí příslušné
    představení. Po stažení představení ve formě ZIP balíčku je nejprve nutné ho rozbalit. Tím vznikne adresář/složka se
    jménem balíčku. V této složce je pak umístěn spustitelný soubor VR aplikace Laterna.exe. K aplikaci je nutné použít
    náhlavní VR soupravu podporovanou platformou SteamVR (např. HTC VIVE).
  </div>

  <div class="mat-display-1">Android</div>

  <div class="page-text">
    <p>
      Jako součást prezentace rekonstruovaných představení je k dispozici mobiní aplikace LaternaVR. Ta umožňuje
      virtuální
      prohlídku rekonstruovaných čísel přímo na mobilním zařízení v obrazovkovém režimu a v režimu CARDBOARD, kdy si
      návštěvník může ze svého telefonu vytvořit jednoduchou náhlavní soupravu.
    </p>
    <p>
      Mobilní aplikaci LaternaVR lze vyhledat pomocí služby GooglePlay na mobilním zařízení s operačním systémem
      Android.
      Vzhledem k nadstandardním požadavkům na výkon a paměťovým nárokům je aplikace zobrazena jen uživatelům s
      odpovídajícím
      zařízením.
    </p>
    <p>
      Po spuštění je uživatel vyzván k zadání hesla a následně jsou mu zpřístupněny rekonstrukce jednotlivých čísel.
      Data
      těchto představení si aplikace stahuje na telefon až po jejím zvolení. Pro tato data je potřeba úložiště o
      velikosti
      přibližně 200MB. Rychlost spouštění představení závisí na konkrétním připojení k internetu.
    </p>
    <p>
      Po výběru představení je uživatel vyzván, aby potvrdil stažení dat k představení. Následně po stažení, které může
      trvat několik minut, je zobrazeno tlačítko spustit a volba "Virtuální realita". Nezatržením této volby je zvolen
      celoobrazovkový režim prezentace a naopak zatržením je zvolen stereoskopický režim pro CARDBOARD. Po spuštění
      prezentace má uživatel k dispozici ovládání, které se pro oba režimy liší. V celoobrazovkovém režimu se
      představení
      spustí automaticky a zobrazí se dva ovládací prvky ve funkci joystiků. Levý pro pohyb vpřed, vzad, vlevo a vpravo.
      Pravý pro otáčení nahoru, dolů, vlevo a vpravo. Představení lze opustit standardním tlačítkem "zpět"
      mobilního
      zařízení.
    </p>
    <p>
      V režimu CARDBOARD má uživatel k dispozici malý kurzor (malý bílý bod) jehož nasměrováním a podržením na místě po
      dobu cca 1s se spustí akce. Pro spuštění představení je potřeba kurzor namířit na ikonu klapky umístěnou v
      nadhledu a podržením kurzoru na místě. Namířením na ikonu běžící postavy, která je umístěna rovněž v nadhledu nad
      scénou lze zapnout režim teleportace. Kurzor se promění v malou ikonu postavy a jejím namířením na příslušné místo
      ve scéně a podržením je uživatel přemístěn na toto místo.
    </p>

    <p>
      Aplikace je k dispozici pro OS Android a je ke stažení na GooglePlay.
    </p>
  </div>
  <a href="https://play.google.com/store/apps/details?id=cz.iim.laternamagika.LaternaVR"><img src="assets/play.jpg"
      width="200px"></a>
</div>