<div class="container">
  <div class="mat-display-2">LaternaVR</div>

  <div class="mat-display-1">MS Windows</div>

  Rekonstruovaná představení je možné interaktivně zobrazit jako spustitelnou desktopovou aplikaci na platformě MS
  Windows. Každé představení je reprezentováno jednou aplikací. Tyto aplikace jsou dostupné zde:

  <br><br><br>

  <div class="mat-display-1">Android</div>

  Jako součást prezentace rekonstruovaných představení je k dispozici mobiní aplikace LaternaVR. Ta umožňuje virtuální
  prohlídku rekonstruovaných čísel přímo na mobilním zařízení v obrazovkovém režimu a v režimu CARDBOARD, kdy si
  návštěvník může ze svého telefonu vytvořit jednoduchou náhlavní soupravu. Vlastní použití aplikace je jednoduché.
  Stačí si vybrat režim a po té příslušné číslo, které se začne přehrávat. Během prohlídky se může návštěvník
  teleportovat na různá místa ve scéně. V režimu obrazovky stačí dotek na symbol !!! a návštěvník je přenesen na
  požadované místo. V režimu CARDOARD návštěvník zaměří pohled s malým kurzorem na požadované místo a po několika
  sekundách je na toto místo přenesen.
  <br><br>
  Aplikace je k dispozici pro OS Android a je ke stažení na GooglePlay.
  <br><a href="#"><img src="assets/play.jpg" width="200px"> </a>
</div>
