<div class="container">
  <div class="mat-display-2">O projektu</div>

  <div class="page-text">
    <p>
      Tato aplikace je jedním z výstupů projektu "Laterna magika. Historie a současnost, dokumentace, uchování a
      zpřístupnění", jehož cílem je poskytnout nástroje pro evidenci, anotaci a prezentaci multimediálních dat
      dokumentujících a prezentujících multimediální představení. Jako vstupní data jsou zde využívána videa,
      fotografie, dokumenty a texty ale zejména nové typy dat jakými jsou pohybová data nesoucí informaci o pohybu
      konkrétního tanečníka. Aplikace tato data umožňuje zobrazit a popsat stejně jako videa a ostatní materiál.
      Vlastní pohybová data jsou následně využitelná pro rekonstrukce v podobě virtuálnich představení, která
      jsou dostupná ve formě stažitelných a spustitelných aplikací nebo mobilní aplikace LaternaVR.
    </p>
    <p>
      Aplikace má tři části. EMOD - základní modul, který slouží pro editaci metadat popisujících vlastní ultimediální
      obsah a pohybová data. VRMOD - modul pro prezentaci multimediálních představení a LaternaVR - mobilní aplikaci
      pro prezentaci VR rekonstrukcí představení na mobilním zařízení.
    </p>
    <p>
      Všechny programové komponenty byly vytvořeny v Institutu intermédií při Fakultě elektrotechnické ČVUT v Praze.
    </p>
  </div>



  <div class="page-text">
    <div class="mat-display-1">Projekt: Rekonstrukce vybraných částí představení</div>
    <table>
      <tr>
        <th style="vertical-align: top; text-align: start; width: 6em;">Autoři:</th>
        <td>
          Vedení projektu rekonstrukcí představení a vývoje software: Roman Berka,<br>
          Ideová a koncepční spolupráce: Bohuš Získal,<br>
          Vývoj VRMOD, EMOD: Zdeněk Trávníček,<br>
          Vývoj LaternaVR: Ondřej Slabý,<br>
          Operátor MOCAP: Jan Zámečník, Štěpán Kment,<br>
          Tvorba 2D modelů a animace: Josef Mrva, Michael Henzl, Josef Hník,<br>
          Pavel Nečas, Radek Smetana, Jiří Bartoněk<br>
          Produkce: Ilona Machová, Kateřina Mikulcová,<br>
          Tanečníci Laterny Magiky: Anna Homola, Tereza Chábová, Eliška Kolářová,<br>
          Tamara Kšírová, Oleksandr Sadirov, Libor Kettner, Viktor Svidró, Adam Sojka<br>
          Choreografie: Pavel Knolle, Zuzana Hrzalová<br>
          Reinterpretace čísla Kirké (choreografie, tanec): Markéta Kuttnerová<br>
        </td>
      </tr>
    </table>
  </div>

  <p>
    <b>Odkazy:</b>
  </p>
  <table>
    <tr>
      <td>Projekt:</td>
      <td><a href="https://laterna-research.cz">https://laterna-research.cz</a></td>
    </tr>
    <tr>
      <td>Uživatelská dokumentace VRMOD:</td>
      <td><a
          href="https://github.com/iimcz/vrmod/blob/master/USERDOC.md">https://github.com/iimcz/vrmod/blob/master/USERDOC.md</a>
      </td>
    </tr>
    <tr>
      <td>Uživatelská dokumentace EMOD:</td>
      <td><a
          href="https://github.com/iimcz/emod/blob/master/frontend/lm-naki/doc/DOC.md">https://github.com/iimcz/emod/blob/master/frontend/lm-naki/doc/DOC.md</a><br>
      </td>
    </tr>
    <tr>
      <td>VRMOD:</td>
      <td><a href="https://github.com/iimcz/vrmod">https://github.com/iimcz/vrmod</a><br></td>
    </tr>
    <tr>
      <td>EMOD:</td>
      <td><a href="https://github.com/iimcz/emod">https://github.com/iimcz/emod</a></td>
    </tr>
  </table>
</div>