<div class="container">
  <div class="mat-display-2">O projektu</div>

  <p>
    Tato aplikace je jedním z výstupů projektu "Laterna magika. Historie a současnost, dokumentace, uchování a
    zpřístupnění", jehož cílem je poskytnout nástroje pro evidenci, anotaci a prezentaci multimediálních dat
    dokumentujících a prezentujících multimediální představení. Jako vstupní data jsou zde využívána videa, fotografie,
    dokumenty a texty ale zejména nové typy dat jakými jsou pohybová data nesoucí informaci o pohybu konkrétního
    tanečníka. Aplikace tato data umožňuje zobrazit a popsat stejně jako videa a ostatní materiál. Vlastní pohybová data
    jsou následně využitelná pro rekonstrukce v podobě virtuálnich představení, která jsou dostupná ve formě
    stažitelných
    a spustitelných aplikací nebo mobilní aplikace LaternaVR.
  </p>
  <p>
    Aplikace má tři části EMOD - základní modul, který slouží pro editaci metadat popisujících vlastní ultimediální
    obsah
    a pohybová data. VRMOD - modul pro prezentaci multimediálních představení a LaternaVR - mobilní aplikaci pro
    prezentaci VR rekonstrukcí představení na mobilním zařízení.
  </p>
</div>
