<div class="container">
  <br>
  <div class="mat-display-4" style="margin-bottom: 24px">VRMOD</div>
  <div class="mat-display-2">Modul pro prezentaci multimediálních představení</div>
  <div class="mat-display-1">Virtual Reality and Presentation Module</div>

  <div>
    <img src="assets/vrmod.jpg" height="500px">
  </div>

  <div>
    <!--
    <br>
    © 2019 CTU in Prague, Faculty od Electrical Engineering, Department of Computer Graphics and Interaction
    <br><br>
    The development of this application has been supported by the Ministry of Culture of the Czech Republic as part of
    the research project NAKI II Laterna magika. Past and Present, Documentation, Preservation and Presentation
    (DG16P02H005).
    -->
    © 2019 ČVUT v Praze, Fakulta elektrotechnická, Katedra počítačové grafiky a interakce.
    <br>
    Vývoj této aplikace byl podpořen Ministerstvem kultury ČR v rámci výzkumného projektu NAKI II Laterna magika.
    Historie a současnost, dokumentace, uchování a zpřístupnění (DG16P02H005).
  </div>
</div>
