<div class="container">
  <br>
  <div class="mat-display-2">Modul pro prezentaci multimediálních představení</div>
  <div class="mat-display-1">Virtual Reality and Presentation Module</div>

  <div>
    <img src="assets/vrmod.jpg" height="500px">
  </div>

  <div>
    <br>
    © 2019 CTU in Prague, Faculty od Electrical Engineering, Department of Computer Graphics and Interaction
    <br><br>
    The development of this application has been supported by the Ministry of Culture of the Czech Republic as part of
    the research project NAKI II Laterna magika. Past and Present, Documentation, Preservation and Presentation
    (DG16P02H005).
  </div>
</div>
