/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
  padding: 32px;
}

.page-text {
  max-width: 100em;
  padding: 2em 0 2em 0;
}
